{% extends "base.html" %}

{% block body %}
	<table>
		<tr>
			<th>Card Set</th>
			<th>Card Expansion</th>
			<th>Card Number</th>
			<th>Card Class</th>
			<th>Card Name</th>
			<th>Price</th>
		</tr>
		{% for card in cards %}
			<tr>
				<td>{{ card.card_set_name }}</td>
				<td>{{ card.card_expansion }}</td>
				<td>{{ card.card_number }}</td>
				<td>{{ card.card_class }}</td>
				<td><a href="/{{ card.card_expansion }}/{{ card.card_number }}/{{ card.card_class }}">{{ card.card_name }}</a></td>
				<td>£{{ "{:.2}"|format(card.price) }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
